<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring boot eamil teplate with Thymeleaf</title>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p th:text="${'Dear ' + name}"></p>

<p>
    Đây là yêu cầu thay đổi mật khẩu của bạn!
    There was a request to change your password!
</p>
<p>
    Nếu bạn không tạo yêu cầu này thì xin vui lòng bỏ qua email.
    If you did not make this request then please ignore this email.
</p>

<p>
    Để thay đổi mật khẩu, hãy truy cập vào <a th:href="${link}">link</a>/
</p>

<p>
    Trân trọng, <br/>
    <em th:text="${sign}"></em>
<p th:text="${locationDto}"></p>
</p>
</body>
</html>